<!-- Main navigation -->
<header>
  <!--Navbar-->
 
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7" >
        
          
            </div>
    </div>

  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft;" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5" style="font-family: 'Crimson Pro', serif; font-size: 36px">Вернем к жизни ваше любимое устройство! </h1>
            <hr class="hr-light">
            <h5 class="mb-5" style="font-family: 'Crimson Pro', serif; font-size: 24px">Особая роль компании «Атлант» состоит в том, чтобы помочь людям в ремонте бытовой техники. Мы без труда можем достать и заменить любую деталь и полностью восстановить технику любой фирмы.</h5>
            <h6 class="mb-4">Компания работает с такой техникой как: BEKO, DEXP, LG, Nordfrost, Samsung и другие много или малоизвестные фирмы. Так же компания предоставляет детали для бытовой техники разных направленностей. 
              Важной услугой для клиентов является техническое сопровождение всего комплекса в гарантийный и послегарантийный периоды. Поэтому мы всегда будем рады помочь в любой ситуации.</h6>
            
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="https://i.ibb.co/CmCfChZ/Untitled-1.png" alt="" class="img-fluid">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->
<main>
  <div class="container bg-light">
    <div class="row">
      <div class="col">
        
        <div class="col-12 col-md-8" style="font-family: 'Century Gothic', serif; font-size: 24px">Как нас найти:</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1152.395743805934!2d20.449782558159566!3d54.71329154449991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e33dc052691007%3A0x9b263fe52d5ea3bc!2z0L_RgC3RgiDQn9C-0LHQtdC00YssIDcwLCDQmtCw0LvQuNC90LjQvdCz0YDQsNC0LCDQmtCw0LvQuNC90LjQvdCz0YDQsNC00YHQutCw0Y8g0L7QsdC7LiwgMjM2MDEw!5e0!3m2!1sru!2sru!4v1663607657603!5m2!1sru!2sru" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col" style="font-family: 'Century Gothic', serif; font-size: 24px">
      Контакты:
      <h4>Почта - alekx40@yandex.ru</h4>
      <h4>Телефон - 88005553535</h4>
      <h5>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АТЛАНТ"</h5>
      <h5>ИНН - 3906352590</h5>
      <h5>ОГРН - 1173926009399</h5>


    </div>
  </div>
</div>
</main>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-2">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- vk -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"  href="https://vk.com/public216076244" target="_blank" role="button"><i class="fab fa-vk"></i></a>

      <!-- tg -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="" target="_blank" role="button"><i class="fab fa-telegram"></i></a>


      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://instagram.com/captan.xo?igshid=YmMyMTA2M2Y=" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

    </section>


  </div>

</footer>
