<header>
    <div class="navbar navbar-light bg-white">
    <div class="navbar-brand align-item-justify d-flex">
        <!-- <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/NfMLKxSj/a-Ot54-EN7o-Ww.jpg' width="100" height="100" border='0' alt='a-Ot54-EN7o-Ww'/></a>     -->
    <div class = "form-group">
        <p style="font-family: 'Crimson Pro', serif; font-size: 48px;" class="text-center">Томские узоры</p>
</div>
</div>
        <!--<button class="btn btn-dark">
            <i style="font-size: 30px;" class="fa-solid fa-envelope"></i>
            <div style="font-size: 10px;" class="badge bg-danger">5</div>
        </button>!-->
        <a href="https://goo.gl/maps/27rBxVHxMXFZ9xo49" target="_blank" class="btn btn-dark btn-lg active fa-solid fa-location-dot" role="button" aria-pressed="true"></a>

</div>
</header>
