
.text-center{
    margin: 0px;
    padding: 15px;
    right: 10px;
    left: 450px;
    display: inline;
    position: relative;
}

.btn-dark{
    margin: 20px;
    padding: 6px;
    border-radius: 3.10rem;
    display: inline;
}